<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解BootBase</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;更新日志</h3>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BootBase V1.0.0 : </h4>
        <ul>
            <li>添加Redis,RabbitMQ工具类</li>
            <li>"数据字典","用户管理","角色管理","计划任务","通知公告"等模块完善搜索功能</li>
            <li>layer弹出层优化</li>
            <li>'运行监控'页面添加shiro权限拦截</li>
        </ul>

    </div>
</div>
</body>
</html>